<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.progstrl.vetrf2">

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vetrf2">
        <activity android:name=".main.example"></activity>
        <activity
            android:name=".main.BaseNameActivity"
            android:label="Список баз по ХС" />
        <activity
            android:name=".main.BaseNameSettingActivity"
            android:label="Настройка ХС"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>